html {
	font-size: 16px;
	line-height: 1.6;
    -webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
            box-sizing: border-box;
}
*, *:before, *:after {
	-webkit-box-sizing: inherit;
	   -moz-box-sizing: inherit;
            box-sizing: inherit;
}
*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}
body input:focus:required:invalid,
body textarea:focus:required:invalid {

}
body input:required:valid,
body textarea:required:valid {

}
body {
	min-width: 300px;
	position: relative;
	font-family: "Open Sans", Arial, sans-serif;
	font-family: "Cuprum", Arial, sans-serif;
	overflow-x: hidden;
	color: #000000;
    background: #ffffff;
}
a{
	text-decoration: none;
	color: #000000;
}
img{
	max-width: 100%;
	height: auto;
}
ul li{
	list-style: none;
}
/*ul{
	padding-left: 0;
}*/
body, h1, h2, h3, h4, h5, h6, ul, li, p{
	margin: 0;
	/*padding: 0;*/
	padding: 0;
}
input,button,textarea,select,optgroup,option {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
}
input:focus,textarea:focus {
	outline: none;
}
.hide {
	display: none;
}
.show {
	display: block;
}
.container{
	margin: 0 auto;
	position: relative;
	padding: 0 15px;
	width: 100%;
	max-width: 1280px;
}
.layout{
	margin: 0 auto;
	max-width: 1600px;
}
@media screen and (max-width: 1024px) {

}
